@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.conversejs {
    @import "bootstrap/scss/modal";

    #converse-modals {
        .modal {
            background-color: rgba(0, 0, 0, 0.32);

            .modal-header{
                border-bottom:transparent !important;
                padding: 24px 24px 8px 24px;
                h5{
                    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
                    letter-spacing: normal;
                    color: rgba(0, 0, 0, 0.87);
                }
            }
            .modal-body {
                overflow-y: auto;
                max-height: 75vh;
                padding: 0 24px !important;
                p {
                    padding: 0.25rem 0;
                }
                .confirm {
                    .form-group {
                        p:first-child {
                            font-size: 110%;
                            font-weight: bold;
                        }
                    }
                }
                .btn-footer{
                    display: flex;
                    position: relative;
                    flex-shrink: 0;
                    flex-wrap: wrap;
                    align-items: flex-end;
                    justify-content: flex-end;
                    box-sizing: border-box;
                    min-height: 52px;
                    margin: 0;

                    button{
                        color: black;
                        font-family: Roboto, "Helvetica Neue", sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        background-color: transparent;
                        border: transparent;
                    }

                    button:hover, button:focus{
                        background-color:#f8f9fa
                    };
                }

                &.fit-content {
                    box-sizing: content-box;

                    img {
                        max-width: 90vw;
                    }
                }
            }
            .modal-body--image {
                .chat-image {
                    max-height: 99%;
                    max-width: 100%;
                }
            }
            .modal-footer {
                justify-content: flex-start;
            }
            .roomid-policy-error {
                color: var(--error-color);
                font-size: var(--font-size-small);
                float: right;
            }
        }

        .scrollable-container {
            max-height: 45vh;
            overflow-y: auto;
        }

        .role-form, .affiliation-form {
            padding: 2em 0 1em 0;
        }

        .set-xmpp-status {
            .custom-control-label {
                padding-top: 0.25em;
            }
        }

        #omemo-tabpanel {
            margin-top: 1em;
        }

        .btn {
            font-weight: normal;
        }

        #user-profile-modal {
            .profile-form {
                label {
                    font-weight: bold;
                }
            }
            .fingerprint-removal {
                label {
                    display: flex;
                    padding: 0.75rem 1.25rem;
                }
            }

            .list-group-item {
                display: flex;
                justify-content: left;
                font-size: 95%;

                input[type="checkbox"] {
                    margin-right: 1em;
                }
            }
        }

        .fingerprints {
            width: 100%;
            margin-bottom: 1em;
        }

        .fingerprint-trust {
            display: flex;
            justify-content: space-between;
            font-size: 95%;
            .fingerprint {
                margin-left: 1em;
            }
        }
    }
}
